{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Legg til ny tjeneste</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            {% if form.name.errors %}
                {% for error in form.name.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.duration.label(class="form-label") }}
            {{ form.duration(class="form-control") }}
            {% if form.duration.errors %}
                {% for error in form.duration.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.day_rate.label(class="form-label") }}
            {{ form.day_rate(class="form-control") }}
            {% if form.day_rate.errors %}
                {% for error in form.day_rate.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.night_rate.label(class="form-label") }}
            {{ form.night_rate(class="form-control") }}
            {% if form.night_rate.errors %}
                {% for error in form.night_rate.errors %}
                    <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
