{% extends "base.html" %}

{% block title %}Endre Profil{% endblock %}


{% block content %}
    <h2>Endre Profil</h2>
    <form method="post">
        <label for="first_name">Fornavn:</label>
        <input type="text" id="first_name" name="first_name" value="{{ psychologist.first_name }}" required>

        <label for="last_name">Etternavn:</label>
        <input type="text" id="last_name" name="last_name" value="{{ psychologist.last_name }}" required>

        <label for="email">E-post:</label>
        <input type="email" id="email" name="email" value="{{ psychologist.email }}" required>

        <label for="phone_number">Telefonnummer:</label>
        <input type="text" id="phone_number" name="phone_number" value="{{ psychologist.phone_number }}" required>

        <label for="birth_date">Fødselsdato:</label>
        <input type="date" id="birth_date" name="birth_date" value="{{ psychologist.birth_date }}" required>

        <button type="submit" class="btn btn-primary">Oppdater Profil</button>
    </form>
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Tilbake til Dashbordet</a>
{% endblock %}