{% extends "base.html" %}

{% block content %}
<div class="py-5 text-center">
    <h2>Welcome to the Psychologist Journal</h2>
    <p class="lead">This is a secure platform for psychologists to manage their patients.</p>
</div>
<div>
    <div id="calendar"></div>
</div>
<!-- Inkluder modaler her -->
{% include 'appointment_modal.html' %}
{% include 'show_appointment_modal.html' %}
{% include 'edit_appointment_modal.html' %}
{% endblock %}

{% block scripts %}
<script>
  // Definerer calendar variabelen globalt
  var calendar;
  
  document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      // Fjerner 'var' for å ikke deklarere en lokal variabel innenfor denne funksjonen
      calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth',
          events: '/get_appointments', // Endpoint for å hente avtaler
          dateClick: function(info) {
              // Åpne modalen for å legge til en ny avtale
              resetAppointmentModal(); // Nullstill eventuelle tidligere inndata
              $('#appointmentModal').find('#appointmentDate').val(info.dateStr);
              $('#appointmentModal').modal('show');
          },
          eventClick: function(info) {
              var eventObj = info.event;
              // Forbered og vis modalen som viser avtaleinformasjon
              prepareShowAppointmentModal(eventObj);
              $('#showAppointmentModal').modal('show');
          }
      });
      calendar.render();
  });
  
  function prepareShowAppointmentModal(eventObj) {
      $('#showAppointmentModal #appointmentTime').text(new Date(eventObj.start).toLocaleString());
      $('#showAppointmentModal #appointmentPatientName').text(eventObj.extendedProps.patientName);
      $('#showAppointmentModal #editAppointmentButton').off('click').on('click', function() {
          prepareEditAppointmentModal(eventObj.id);
          $('#showAppointmentModal').modal('hide');
          $('#editAppointmentModal').modal('show');
      });
  }
  
  
  function prepareEditAppointmentModal(appointmentId) {
    $.ajax({
        url: `/get_appointment/${appointmentId}`,
        method: 'GET'
    }).then(function(data) {
        console.log("Dato som mottas fra serveren:", data.datetime); // Debugging
        // Sett det skjulte inputfeltets verdi til avtale-IDen korrekt
        $('#editAppointmentId').val(appointmentId);
        console.log("Før setting:", $('#editAppointmentModal #editAppointmentDate').val());
        $('#editAppointmentModal #editAppointmentDate').val(data.datetime);
        console.log("Etter setting:", $('#editAppointmentModal #editAppointmentDate').val());

        $('#editAppointmentModal #editAppointmentDescription').val(data.description);
        
        // Returner et nytt løfte som representerer pasientliste-hentingen
        return fetchAndFillPatients('#editAppointmentModal #editAppointmentPatient').then(function() {
            return data; // Pass data videre i løfteskjeden
        });
    }).then(function(data) {
        // Nå som pasientene er lastet, og 'data' er passert videre, sett den valgte verdien
        $('#editAppointmentModal #editAppointmentPatient').val(data.patient_id);
    }).catch(function(xhr, status, error) {
        console.error("Error fetching appointment details:", status, error);
    });
}

  
  function resetAppointmentModal() {
      $('#appointmentModal').find('input, textarea, select').val('');
  }
  
  $('#editAppointmentForm').submit(function(e) {
    e.preventDefault();

    // Hent appointmentId fra det skjulte inputfeltet
    var appointmentId = $('#editAppointmentId').val();

    var appointmentData = {
        id: appointmentId, // Bruk appointmentId her
        datetime: $('#editAppointmentModal #editAppointmentDate').val(),
        description: $('#editAppointmentModal #editAppointmentDescription').val(),
        patient_id: $('#editAppointmentModal #editAppointmentPatient').val()
    };

    $.ajax({
        url: '/update_appointment',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(appointmentData),
        success: function(response) {
            $('#editAppointmentModal').modal('hide');
            calendar.refetchEvents();
        },
        error: function(xhr, status, error) {
            console.error("Kunne ikke oppdatere avtale:", status, error);
        }
    });
});




$('#appointmentForm').submit(function(e) {
    e.preventDefault();
    var appointmentData = {
        datetime: $('#appointmentModal #appointmentDate').val(),
        description: $('#appointmentModal #appointmentDescription').val(),
        patient_id: $('#appointmentModal #appointmentPatient').val()
    };

    $.ajax({
        url: '/add_appointment',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(appointmentData),
        success: function(response) {
            $('#appointmentModal').modal('hide');
            calendar.refetchEvents();
        },
        error: function(xhr, status, error) {
            console.error("Feil ved legging til ny avtale:", status, error);
        }
    });
});


function fetchAndFillPatients(selectElementId) {
    return $.ajax({ // Returnerer et Promise-objekt fra $.ajax
        url: '/get_patients',
        type: 'GET',
        dataType: 'json'
    }).then(function(patients) {
        var options = patients.map(patient => `<option value="${patient.id}">${patient.full_name}</option>`);
        $(selectElementId).html(options.join('')); // Setter HTML-innholdet til dropdownmenyen
    });
}

$('#appointmentModal').on('show.bs.modal', function() {
    fetchAndFillPatients('#appointmentModal #appointmentPatient');
});

$('#editAppointmentModal').on('show.bs.modal', function() {
    fetchAndFillPatients('#editAppointmentModal #editAppointmentPatient');
});

  </script>
  
{% endblock %}
